<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Building</title>
	<link rel="icon" href="images/favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    <script src="/js/angular.min.js"></script>

	 <link rel="stylesheet" href="/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/styles/kendo.moonlight.min.css" />
    <link rel="stylesheet" href="/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="/styles/kendo.dataviz.moonlight.min.css" />
    <link rel="stylesheet" href="/styles/kendo.moonlight.mobile.min.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
	#header-page{
	background-image: url("textures/brushed-metal.png");
  background-image: url("textures/brushed-metal.png"),-webkit-linear-gradient(top,#2f3640 0,#212a33 100%);
  background-image: url("textures/brushed-metal.png"),-moz-linear-gradient(top,#2f3640 0,#212a33 100%);
  background-image: url("textures/brushed-metal.png"),-o-linear-gradient(top,#2f3640 0,#212a33 100%);
  background-image: url("textures/brushed-metal.png"),linear-gradient(to bottom,#2f3640 0,#212a33 100%);
  background-position: 50% 50%;
  background-color: #212a33;
  border-color: #171e28;
  }
  
  
  #pvGrid .k-grid-header .k-header
{
      color: #ee9f05;
}
  #incidentGrid .k-grid-header .k-header
{
      color: #ee9f05;
}
  #csGrid .k-grid-header .k-header
{
      color: #ee9f05;
}
  #msGrid .k-grid-header .k-header
{
      color: #ee9f05;
}

h5{
font-weight:bold;
font-size:14px;
}
	</style>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index" style=""><img src="images/logos2.png" style="height:40px;width:120px;"/></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                      
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Sairam Nutheti <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i>Edit Profile</a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li> -->
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
         
            <div class="collapse navbar-collapse navbar-ex1-collapse">
	 <ul class="nav navbar-nav side-nav" >
					<li><h5 style="margin-top:15px;padding-left:20px;padding-bottom:10px;color:#fff;"><i class="fa fa-bars"></i> Navigation</h5></li>
						<li>
                            <a href="/createclient"><i class="fa fa-plus-circle"></i> Create Client</a>
                        </li>
					    
						 <li class="active">
                            <a href="/createbuilding"><i class="fa fa-list"></i> Create Building</a>                                                      
                        </li>			
                         <li>
                            <a href="/listclients"><i class="fa fa-list"></i> List</a>                                                      
                        </li>						
						<!-- <li>
						                            <a href="/locateclient"><i class="fa fa-map-marker"></i> Locate Client</a>                                                      
						                        </li>		 -->					
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
				 <div class="row" > 
					  <div class="panel with-nav-tabs panel-default" style=""  > 
							<div class="panel-heading"  id="top-menu"  >
							  <ul class="nav nav-tabs" id="menu-tabs">
                             <li><a href="/index" >Home</a></li>
                            <li><a href="/createguard" >Guard</a></li>
                            <li class="active"><a href="/createclient" >Client</a></li>  
							  </ul>
							 </div>
						</div>
				</div>
				  <form name="log-form" id="log-form"  role="form" style="margin-left:15px;">   
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                     
                        <ol class="breadcrumb" id='header-page'>
                            <li >
                                <i class="fa fa-dashboard"></i> Create Building
                            </li>
                        </ol>
                    </div>
                </div>
                   <div class="row">
                	<div class="col-md-8"> 
                				
               					 <div class="form-group" style="display:none" id="success">   
              				        <div class="alert alert-success " style="width:350px;">              				      
              				        Building Created Successfully!!</div>
              				  </div>
              				  <div class="form-group" style="display:none" id="erroralert">   
              				        <div class="alert alert-danger" id="error" style="width:350px;">              				      
              				      </div>
              				  </div> 
              		</div>             				  
                </div> 
     		<div class="row">
			  	<div class="col-md-4"> 
                				<div class="form-group">
                				 <h5>Building Name</h5>
                				 <input type="text" class="form-control" id="buildingName" name="buildingName" tabindex="7"  validationMessage="Please Enter buildingName" style="width:350px;" required />
                				  <span class="k-invalid-msg" data-for="buildingName"></span>                  				
                				</div>               		
                				
                			<div class="form-group">
                				 <h5>City</h5>
                				 <input type="text" id="city" class="form-control" style="width: 350px;" tabindex="12" name="city"  required />   
                				  <span class="k-invalid-msg" data-for="city"></span>        				
                		</div> 
              			  <div class="form-group">
                				 <h5>Start Date</h5>
                				 <input  id="startdate"  style="width: 350px;" name="startdate" data-type="date" validationMessage="Enter Valid Date" tabindex="2" required />   
                				  <span class="k-invalid-msg" data-for="startdate"></span>        				
                		</div>
                		<div class="form-group">
                				 <h5>Cost</h5>
                				 <input  id="cost" type="number" class="form-control"  style="width: 350px;" name="cost"  validationMessage="Enter Valid Cost" tabindex="2" required />   
                				  <span class="k-invalid-msg" data-for="cost"></span>        				
                		</div>
                				
                			 				           			
                	</div>
              		<div class="col-md-4"> 
              			<div class="form-group">
                				 <h5>Address Line1</h5>
                				 <input type="text" class="form-control" id="addressline1" name="addressline1" tabindex="10" validationMessage="Please Enter Address Line1" style="width:350px;" required />
                				  <span class="k-invalid-msg" data-for="addressline1"></span>                  				
                				</div>
              			
                	   <div class="form-group">
                				<h5>State</h5>
                				<input id="state" name="state"  style="width: 350px;" validationMessage="Select State" tabindex="14" required /> 
                				  <span class="k-invalid-msg" data-for="state"></span>     
                				              	   
              			</div> 
              			    <div class="form-group">
                				<h5>End Date</h5>                				
                				<input " id="enddate" name="enddate" style="width: 350px;" validationMessage="Enter Valid Date" tabindex="3" data-type="date" required /> 
                				<span class="k-invalid-msg" data-for="enddate"></span>              				              	   
              				</div>  
              			<div class="form-group">
                				 <h5># of Guard Required</h5>
                				 <input  id="guardscount" type="number" class="form-control"  style="width: 350px;" name="guardscount"  validationMessage="Enter Valid guards count" tabindex="2" required />   
                				  <span class="k-invalid-msg" data-for="guardscount"></span>        				
                		</div>
              		     
                	</div> <!-- End of column -->
                	
                	<div class="col-md-4"> 
                		<div class="form-group">
                				 <h5>Address Line2</h5>
                				 <input type="text" class="form-control" autocomplete="off" id="addressline2" name="addressline2"  tabindex="11" style="width:350px;"  />
                				  <span class="k-invalid-msg" data-for="addressline2"></span>                  				
                	   </div> 
              				  
                				<div class="form-group">
                				 <h5>Zip Code</h5>
                				 <input type="text" id="zip" class="form-control" style="width: 350px;" pattern="^[0-9]{5}(?:-[0-9]{4})?$" tabindex="13" name="zip" validationMessage="Enter Valid Zip" required />   
                				  <span class="k-invalid-msg" data-for="zip"></span>        				
                				</div>  
                				<div class="form-group">
                				 <h5>Client Name</h5>
                				 <input id="clientId" style="width: 400px;" name="clientId" validationMessage="Please Select Client" required />   
                				  <span class="k-invalid-msg" data-for="clientId"></span>  
                				        				
                				</div> 
                				
              			
                	</div>
                	
                </div>
             <!--     <div class="row">
                                 	<div class="col-md-8">
                                 			<div class="form-group">                				
                                 				 <input type="submit" tabindex="15" class="k-button" data-role="button" value="Add Check Point" />                				
                                 			</div> 
                                 	</div>
                                 </div>  -->  
               	  <div class="row">
                 	<div class="col-md-8">
                 	<h5>Check Points
                 	</h5>
                 			<div id="cpGrid"></div>
                 	</div>
                 </div>
                <div class="row" style="margin-top:30px;padding-bottom:30px;">
                	<div class="col-md-8">
                			<div class="form-group">                				
                				 <input type="submit" tabindex="15" class="k-button" data-role="button" value="Create" />                				
                			</div> 
                	</div>
                </div>   
                
         </form> 
			              
             
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

   <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

	 <script src="/kendojs/kendo.all.min.js"></script>
    <script src="/kendojs/kendo.timezones.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

  	  <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/main.js"></script>
	
 <script>
	var statedataSource = new kendo.data.DataSource({
  transport: {
    read: {
      url: "/getStates",
      dataType: "json"
    }
  }
  });
$("#state").kendoAutoComplete({
  dataSource: statedataSource,
  dataTextField: "name"
});
</script>

            <script>
                $(document).ready(function () {
                   
                        dataSource = new kendo.data.DataSource({
                            transport: {
                            	read:function(options){options.Success;},
                                parameterMap: function(options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return {models: kendo.stringify(options.models)};
                                    }
                                }
                            },
                            batch: true,
                            pageSize: 20,
                            schema: {
                                model: {
                                   
                                    fields: {
                                        checkPointId: { editable: false, nullable: true },
                                        CheckPointName: { validation: { required: true } },
                                        Latitude: { type: "string", validation: { required: true, min: 1} },
                                       Longitude: { type: "string", validation: { required: true, min: 1} }
                                    }
                                }
                            }
                        });

                    $("#cpGrid").kendoGrid({
                        dataSource: dataSource,
                        navigatable: true,
                        pageable: false,
                        height: 250,
                        toolbar: ["create"],
                        columns: [
                            
                            { field: "CheckPointName", title: "Check PointName"},
                            { field: "latitude", title: "Latitude" },
                            { field: "longitude", title:"Longitude"},
                             { command: "destroy", title: "&nbsp;", width: 120 }
                           ],
                        editable: true
                    });
                });
                
 $(document).ready(function () {

	$("#startdate").kendoDatePicker();
	$("#enddate").kendoDatePicker();
$( "#log-form" ).change(function() {
 $("#success").hide();  	 
  $("#erroralert").hide(); 
});

	   $("#clientId").kendoComboBox({
                        placeholder: "Select Client",
                        dataTextField: "name",
                        dataValueField: "clientId",
                        filter: "contains",
                        autoBind: false,
                        minLength: 1,
                        dataSource: {
                            type: "json",
                            serverFiltering: false,
                            transport: {
                                read: {
                                    url: "/getAllClients",
                                }
                            }
                        }
                    });
                    
 var validator = $("#log-form").kendoValidator().data("kendoValidator")  ;	
	$("#log-form").submit(function(e){
	e.preventDefault();
	
	var buildingName=$('#buildingName').val();
	var addressLine1=$('#addressline1').val();
	var addressLine2=$('#addressline2').val();
	var city=$('#city').val();
	var cost=$('#cost').val();
	 var clientId=$('#clientId').data("kendoComboBox").value();
	var autocomplete=$('#state').data("kendoAutoComplete");
	var state=autocomplete.value();
	var datepicker1 = $("#startdate").data("kendoDatePicker");
	var value1 = datepicker1.value();
	  var startDate=kendo.toString(value1, 'MM/dd/yyyy') ;
	  var datepicker2 = $("#enddate").data("kendoDatePicker");
	var value2 = datepicker2.value();
	  var endDate=kendo.toString(value2, 'MM/dd/yyyy') ;
	var zipCode=$('#zip').val();
	var  msgrid = $("#cpGrid").data('kendoGrid');
	  var cpData = msgrid.dataSource.data().toJSON();
	  if(cpData.length<=0)
	  {
	  	alert("Atleast One Checkin Point is Required");
	  	return false;
	  }
	var guardscount=$('#guardscount').val();
	if(validator.validate())
		{
				alert(cpData[0].CheckPointName);
				 $.ajax({		
			 	 method: 'post',
				  url: '/createbuilding',
				  data: { "buildingName":buildingName,
				  			"addressLine1":addressLine1,"addressLine2":addressLine2,"city":city,"state":state,"zipCode":zipCode,"checkpoints":cpData,
				  			"serviceStartDate":startDate,"serviceEndDate":endDate,"clientId":clientId,"cost":cost,"guardscount":guardscount
				  			
				  		}
				})
				.success(function(response){	
									if(response.msg!=undefined)
			         				{	        
			         				$("#erroralert").hide();	         								
			         				document.getElementById('success').style.display = "block";
			         					$('#log-form')[0].reset();
			         				}	         				
			         				else{		         				  
			         				$("#success").hide();  	         				      				         							  						
			         				document.getElementById("error").innerHTML ="Error:"+ response.error;
			         				document.getElementById('erroralert').style.display = "block";
			         				}					
				})
				.error(function(error){
								$("#success").hide();  	         				      				         							  						
			         				document.getElementById("error").innerHTML = "Error Occured in Server:"+error;
			         				document.getElementById('erroralert').style.display = "block";
				 });
		 }
	});

});
                
         
            </script>



</body>

</html>