<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>
	<link rel="icon" href="images/favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
<    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">	
    		 <link rel="stylesheet" href="/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/styles/kendo.moonlight.min.css" />
    <link rel="stylesheet" href="/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="/styles/kendo.dataviz.moonlight.min.css" />
    <link rel="stylesheet" href="/styles/kendo.moonlight.mobile.min.css" /> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
	#header-page{
	background-image: url("textures/brushed-metal.png");
  background-image: url("textures/brushed-metal.png"),-webkit-linear-gradient(top,#2f3640 0,#212a33 100%);
  background-image: url("textures/brushed-metal.png"),-moz-linear-gradient(top,#2f3640 0,#212a33 100%);
  background-image: url("textures/brushed-metal.png"),-o-linear-gradient(top,#2f3640 0,#212a33 100%);
  background-image: url("textures/brushed-metal.png"),linear-gradient(to bottom,#2f3640 0,#212a33 100%);
  background-position: 50% 50%;
  background-color: #212a33;
  border-color: #171e28;
  color:#fff;
  }
  	#modalheader-page{
	margin-left:5px;
	margin-right:5px;
	background-image: url("textures/brushed-metal.png");
  background-image: url("textures/brushed-metal.png"),-webkit-linear-gradient(top,#2f3640 0,#212a33 100%);
  background-image: url("textures/brushed-metal.png"),-moz-linear-gradient(top,#2f3640 0,#212a33 100%);
  background-image: url("textures/brushed-metal.png"),-o-linear-gradient(top,#2f3640 0,#212a33 100%);
  background-image: url("textures/brushed-metal.png"),linear-gradient(to bottom,#2f3640 0,#212a33 100%);
  background-position: 50% 50%;
  background-color: #212a33;
  border-color: #171e28;
  color:#fff;
	}
  
  #pvGrid .k-grid-header .k-header
{
      color: #ee9f05;
}
  #incidentGrid .k-grid-header .k-header
{
      color: #ee9f05;
}
  #csGrid .k-grid-header .k-header
{
      color: #ee9f05;
}
  #msGrid .k-grid-header .k-header
{
      color: #ee9f05;
}

h5{
font-weight:bold;
font-size:14px;
}
	</style>
</head>

<body>

    <div id="wrapper" ng-app="wfms" ng-controller="guard">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="myalerts" style=""><img src="images/logos2.png" style="height:40px;width:120px;"/></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                      
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu //alert-dropdown">
                        <li>
                            <a href="#">//alert Name <span class="label label-default">//alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">//alert Name <span class="label label-primary">//alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">//alert Name <span class="label label-success">//alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">//alert Name <span class="label label-info">//alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">//alert Name <span class="label label-warning">//alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">//alert Name <span class="label label-danger">//alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Sairam Nutheti <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i>Edit Profile</a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li> -->
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
         
            <div class="collapse navbar-collapse navbar-ex1-collapse">
			
                <ul class="nav navbar-nav side-nav" >
					<li><h5 style="margin-top:15px;padding-left:20px;padding-bottom:10px;color:#fff;"><i class="fa fa-bars"></i> Navigation</h5></li>
                    <li class="active">
                            <a href="/guard"><i class="fa fa-dashboard fa-fw"></i> Log Report</a>
                        </li>
					    <li>
                            <a href="/alert"><i class="fa fa-lightbulb-o"></i> Raise alert</a>
							
                        </li>
						 <li>
                            <a href="/viewschedule"><i class="fa fa-calendar fa-fw"></i> Schedule</a>
							
                        </li>
                         <li>
                            <a href="/submitreport"><i class="fa fa-shield fa-fw"></i> Submit Report</a>							
                        </li>                      
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
			
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                     
                        <ol class="breadcrumb" id="header-page">
                            <li>
                                <i class="fa fa-pencil-square-o"></i> View Reports
                            </li>
                        </ol>
                    </div>
                </div>
                
                 <div class="row">	                
                
                	<div class="col-lg-12" style="padding-bottom:100px" >      
                		   <div id="reportsgrid"></div>
                		   
                	</div>
                </div>
                  
                
         </div>
   </div>
   </div>
              

    <!-- /#wrapper -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" id="infoModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" style="width:55%">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Daily Report</h4> 	
      </div>
    			 <ol class="breadcrumb" id="modalheader-page">
                            <li>
                                <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Patrol Report
                            </li>
     			</ol>	
 				<div style="margin-left:10px;"> <!-- custom -->     	 
            		
				<div class='row'>      			
					  <div class="col-md-2">
						  <p class="align" style="font-weight:bold" >Property Name</p>
						  <p class="align" style="font-weight:bold" >Report Date</p>					  
					  </div>
					   <div class="col-md-2">
						  <p class="align" id="modal-propertyname"></p>
						  <p class="align" id="modal-reportdate"></p>
					   </div>
					
					   
				   
				  </div><!-- end of row  -->
				  
			</div> <!-- custom --> 
			
     		   	
     		  <ol class="breadcrumb" id="modalheader-page">
                            <li>
                                <i class="fa fa-plus-circle"></i>&nbsp;&nbsp; Patrols
                            </li>
			</ol>	
			
  
  <div style="margin-left:10px;"> <!-- custom -->     	 
            		
				<div class='row'>      			
					 <!--  <div class="col-md-2">
					  						 	<div id="patrol-sno">
					  						 	
					  						 	</div>		   
					   </div> -->
				   		 <div class="col-md-4">
						 	<div id="patrol-starttime">	</div>
					   </div>
					    
				  </div><!-- end of row  -->
				  
			</div> <!-- custom --> 
     		 <ol class="breadcrumb">
                            <li>
                              <b>  <i class="fa fa-comments-o"></i>&nbsp;&nbsp; Incident Reports</b>
                            </li>
			</ol>	
 			 	<div style="margin-left:10px;"> <!-- custom -->     	 
            		
				<div class='row'>      			
					  <div class="col-md-8">
						 	<div id="incident-report"><p>dddd<p></div>   
					   </div>				   		
				  </div><!-- end of row  -->
				  
			</div> <!-- custom --> 
            		 <ol class="breadcrumb">
                            <li>
                                <b><i class="fa fa-comments-o"></i>&nbsp;&nbsp; Parking Violations</b>
                            </li>
			</ol>	
 			 	<div style="margin-left:10px;"> <!-- custom -->     	 
            		
				<div class='row'>      			
					  <div class="col-md-8">
						 	<div  id="parking-violation"></div>  
					   </div>				   		
				  </div><!-- end of row  -->
				  
			</div> <!-- custom --> 	
			      		 <ol class="breadcrumb">
                            <li>
                          <b>       <i class="fa fa-comments-o"></i>&nbsp;&nbsp;Maintenance Calls</b>
                            </li>
					</ol>	
 			 	<div style="margin-left:10px;"> <!-- custom -->     	 
            		
				<div class='row'>      			
					  <div class="col-md-8">
						 	<div  id="maintenance-call"></div>   
					   </div>				   		
				  </div><!-- end of row  -->
				  
			</div> <!-- custom --> 	
				
			 <ol class="breadcrumb">
                            <li>
                                <b> <i class="fa fa-comments-o"></i>&nbsp;&nbsp;Calls For Service</b>
                            </li>
			</ol>	
 			 	<div style="margin-left:10px;"> <!-- custom -->     	 
            		
				<div class='row'>      			
					  <div class="col-md-8">
						 	<div  id="call-service"></div>   
					   </div>				   		
				  </div><!-- end of row  -->
				  
			</div> <!-- custom -->
			
			
			  <ol class="breadcrumb" id="modalheader-page">
                            <li>
                                <i class="fa fa-plus-circle"></i>&nbsp;&nbsp; Patrols - Summary
                            </li>
			</ol>	
			<div style="margin-left:10px;" id="patrol-Descriptions"> <!-- custom -->     	 
             	
			
     		</div><!-- custom -->    
  
  
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <!-- <button type="submit" class="btn btn-primary confirm" data-ng-click=saveSkill()>Save</button> -->
			      </div>			
	 </div>
	</div>		   
  </div><!-- End -->




   <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
	 <script src="/kendojs/kendo.all.min.js"></script>
    <script src="/kendojs/kendo.timezones.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
  	  <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/main.js"></script>
<script>
 
$(document).ready(function () {      
           $("#reportsgrid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: "/getAllGuardReports"
                            },
                            pageSize: 20
                        },
                        height: 550,
                        groupable: true,
                        sortable: true,
                        filterable:true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        columns: [
                        {field: "reportName", title:"Report Name",template:"Rep_#:kendo.toString(reportDate, 'MM/dd/yyyy')#_#:buildingName#",width:400},
                           { field: "reportDate",type: "date", title:"Report Date",template:"#: kendo.toString(reportDate, 'MM/dd/yyyy')# ",width:200 },
                            { field: "buildingId", type:"number","hidden":true },
                        { field: "buildingName", title:"Building Name" },  
                                                                    
                            { field: "status", title:"Report Status" },                                             
                             { command: { text: "View", click: showDetails }, title: " ",width:120}]
                        
                       
                    }).data('kendoGrid');
            
   function showDetails(e) 
{   e.preventDefault();     
   	var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
	var reportDate=kendo.toString(dataItem.reportDate,"MM/dd/yyyy");
	var buildingId=dataItem.buildingId;	
              
                    $.ajax({		
	 	 						method: 'post',
							 	 url: '/displayGuardReport',
							  	 data: { "buildingId":buildingId,"reportDate":reportDate}
							})
							.success(function(response){	
									if(response.error==undefined )
									{
									
										$('#infoModal').modal('show');
										$('#guards').empty();
										$('#patrol-sno').empty();
										$('#patrol-starttime').empty();
										$('#incident-report').empty();
										$('#parking-violation').empty();
												$('#maintenance-call').empty();
												$('#call-service').empty();
												$('#patrol-Descriptions').empty();
									
										if(response.report.length>0)
										{
											$('#modal-propertyname').text(response.report[0].buildingName);
											$('#modal-reportdate').text(new Date(response.report[0].reportDate).toLocaleDateString()) ;		
											for(j=0;j<response.report.length;j++)
											{
												//$('#patrol-sno').append("<p class='align'>"+(j+1)+"</p>");
												$('#patrol-starttime').append("<p class='align'>"+(new Date(response.report[j].patrolTime).toLocaleString())+"</p>");
												$('#incident-report').append("<p class='align'>"+(response.report[j].incident==null?'No Incidents Found for this Report':(j+1)+'. '+response.report[j].incident)+"</p>");
												$('#parking-violation').append("<p class='align'>"+(response.report[j].parkingViolation==null?'No Parking Violations Found for this Report':(j+1)+'. '+response.report[j].parkingViolation)+"</p>");
												$('#maintenance-call').append("<p class='align'>"+(response.report[j].mtnService==null?'No Maintenance Services Found for this Report':(j+1)+'. '+response.report[j].mtnService)+"</p>");
												$('#call-service').append("<p class='align'>"+(response.report[j].callOfService==null?'No Maintenance Services Found for this Report':(j+1)+'. '+response.report[j].callOfService)+"</p>");												
												$('#patrol-Descriptions').append("<div class='row'  style='padding-bottom:25px;'>"
												+"<div class='col-md-6'><p class='align'><u>"+(new Date(response.report[j].patrolTime).toLocaleString())+"</u></p><p class='align' style='font-size:14px;'>"+response.report[j].disposition+
												"</div></div>");
												
											}					
										}
										
									}
									else{alert();}
									
							})
							.error(function(error){
											
					 		});	

    
}



  
});
</script>        
                
   

</body>
</html>